# PostgreSQL
POSTGRES_PASSWORD=pizza
POSTGRES_USER=my_user
DATABASE_URL=psql://my_users:pizza@todolist.my_shiny_rds.amazonaws.com:5432/todolist



# General settings
DJANGO_ADMIN_URL=admin/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=loremipsumdolorsitamet
DJANGO_ALLOWED_HOSTS=.todolist.ovh

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=my_access_key
DJANGO_AWS_SECRET_ACCESS_KEY=my_secret_key
DJANGO_AWS_STORAGE_BUCKET_NAME=todolist-origin

# Used with email
SENDGRID_API_KEY=many_numbers_and_letters
DJANGO_SERVER_EMAIL=root@todolist.ovh
SENDGRID_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Recaptcha
RECAPTCHA_PUBLIC_KEY=the_google_recaptcha_key
RECAPTCHA_PRIVATE_KEY=the_google_recaptcha_secret_key





