.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

[hidden][style="display: block;"] {
  display: block !important; }

/* This is a fix for the bootstrap4 alpha release */
@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    float: none;
    width: 100%;
    display: inline-block; }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }

  .nav.navbar-nav.pull-xs-right {
    float: none !important; } }
/* Space out content a bit */
body {
  padding-bottom: 1.5rem;
  background-color: #f2f2f2; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem; }

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5; }

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem; }

/* Custom page footer */
.footer {
  margin-top: 3rem;
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5; }

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 50rem;
    padding-left: 4em;
    padding-right: 4em;
    background-color: #fff; } }
.container-narrow > hr {
  margin: 2rem 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
  background-color: #e5ffff; }

.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem; }

/* Supporting marketing content */
.marketing {
  margin: 3rem 0; }

.marketing p + h4 {
  margin-top: 1.5rem; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer,
  .messages {
    padding-right: 0;
    padding-left: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 2rem; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }
.float-right {
  float: right; }

.text-center {
  text-align: center; }

.copyright {
  margin-top: 1.5rem; }

#logo {
  height: 40pt; }

.color_highlight {
  background-color: #e5ffff; }

/* no underline when hover */
.no-hover:hover {
  text-decoration: none; }

#main_content, footer {
  margin-top: 1.5rem; }

.vertical-center {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%); }

.vertical-space, table {
  margin-top: 1.5rem;
  padding-top: 1.5rem; }
