{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
{% endblock %}

{% block javascript %}
<script>

{# In this script block, all ajax calls reload only the main table #}
{# Javascript dealing with the action button for the tasks: delete, complete and close #}

$('#main_content').on('click', '.ajax_link', function(event){
    event.preventDefault()
    let href = $(this).attr('href');
	swal({
        text: $(this).data('confirm'),
        showCancelButton: true, confirmButtonText: 'Submit',
        showLoaderOnConfirm: true, allowOutsideClick: false,
    }).then(function(){
        $.ajax({
            type: "POST", url: href, data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(){
                $.ajax({
                    type: 'GET', url: window.location.href,
                    success: function(response){
                        $('#main_content').html(response.html)
                    }
                })
            }
        })
    }, function(dismiss){
    })
})


{# Javascript dealing with the ajax submission of the filter form #}

$('#main_content').on('submit', '#filter-form', function(event){
	event.preventDefault()
    let url_path = window.location.href.split(/[?#]/)[0] + '?' + $(this).serialize()
    $.ajax({
          type: "GET", url: $(this).attr('action'), data: $(this).serialize(),
          success: function(response){
              $('#main_content').html(response.html)
               window.history.pushState({"html":response.html,"pageTitle":''},"", url_path);
          },
     })
})


{# Javascript dealing with the ordering link and the pagination #}

$('#main_content').on('click', '.orderable a, .next a, .previous a', function(event){
	event.preventDefault()
    let url_path = $(this).attr('href')
    $.ajax({
          type: "GET", url: url_path,
          success: function(response){
              $('#main_content').html(response.html)
               window.history.pushState({"html":response.html,"pageTitle":''},"", url_path);
          },
     })
})

</script>
{% endblock %}
